.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .page-title {
        font-size: var(--font-size-title);

        @media screen and (max-width: 480px) {
            & {
                font-size: var(--font-size-sub-title);
            }
        }
    }

    .add-coins-button-fixed-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;

        .button-and-label-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;


            .add-coins-button {
                background-color: rgb(81, 254, 51);
                border: none;
                color: white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

                &:hover {
                    background-color: #45a049;
                }

                i {
                    font-size: 32px;
                }
            }
        }
    }

    .products-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;

        .product {
            display: flex;
            justify-content: center;
            width: 450px;
            border: 1px solid var(--color3);
            border-radius: 10px;
            margin: 10px;

            .product-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
                gap: 5px;

                .title {
                    font-size: var(--font-size-large);
                    font-weight: bold;
                }

                .inStockAmount {
                    font-style: italic;
                }
            }

            img {
                max-width: 100%;
                max-height: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 16px;
            }
        }
    }
}