<div class="page-wrapper">
    <div class="d-flex flex-column align-items-center">
        <div class="page-title mt-3">
            Refreshments!
        </div>
        <div class="new-product-button">
            <button class="btn btn-primary" routerLink="/add-product"><i class="bi bi-patch-plus"></i> New Product</button>
        </div>
        <div class="add-coins-button-fixed-container">
            <div class="button-and-label-wrapper">
                <button class="add-coins-button" (click)="openCoinForm()"><i class="bi bi-plus"></i></button>
             <div class="coins-label">Balance: {{dataService.coinBalance | number:'1.0-1'}} BGN</div>  <!-- Format: at least 1 digit before decimal; at least 0 digits after decimal + max 1 digit after decimal -->
            </div>
        </div>
    </div>
    <div class="products-wrapper mt-3 mb-3">
        <div *ngFor="let product of productsToDisplay$ | async" class="product mt-3">
            <div class="product-content">
                <img [src]="product.imageUrl" alt="{{product.title}}">
                <div class="line-accent"></div>
                <div class="title">
                    {{product.title}}
                </div>
                <div class="description">
                    {{product.description}}
                </div>
                <div class="price">
                   Price: {{product.price}} BGN
                </div>
                <div class="inStockAmount">
                   In stock: {{product.inStockAmount}}
                </div>
                <button (click)="purchaseProduct(product)" class="btn btn-primary mt-3 mb-3"><i class="bi bi-wallet2"></i> Purchase</button>
            </div>     
        </div>
    </div>
</div>
