<div class="page-wrapper">
    <div class="page-title mt-3">
        Refreshments!
    </div>
    <div class="products-wrapper mt-3 mb-3">
        <div *ngFor="let product of productsToDisplay$ | async" class="product mt-3">
            <div class="product-content">
                <img [src]="product.imageUrl" alt="{{product.title}}" class="product-image">
                <div class="title">
                    {{product.title}}
                </div>
                <div class="description">
                    {{product.description}}
                </div>
                <div class="price">
                   Price: {{product.price}}
                </div>
                <div class="inStockAmount">
                   In stock: {{product.inStockAmount}}
                </div>
            </div>     
        </div>
    </div>
</div>
