.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
        font-size: var(--font-size-title);

        @media screen and (max-width: 480px) {
            & {
                font-size: var(--font-size-sub-title);
            }
          }
    }

    .form-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 850px;
        width: 100%;
        padding: 10px;
    }

    .error-text {
        color: red;
    }

    .submit-button {
        width: 200px;
    }
}