<div class="page-wrapper">
    <div class="title mt-3">
        Insert Coins
    </div>
    <div class="allowed-coins">
        <i class="bi bi-info-circle"></i><i> Allowed denominations: {{allowedDenominations.join(', ')}}</i>
    </div>
    <form class="d-flex flex-column align-items-center mt-3" [formGroup]="coinForm" (ngSubmit)="onSubmit(coinForm)">
        <div class="form-group p-3">
            <input type="amount" id="amount" formControlName="amount" class="form-control">
        <div class="d-flex flex-column align-items-center text-align-center">    
            <div class="error-text" *ngIf="hasError('amount', 'required')"><i class="bi bi-exclamation-triangle"></i> Amount is required</div>
            <div class="error-text" *ngIf="hasError('amount', 'invalidCoinAmount') || hasError('amount', 'maxOneDecimalAllowed')"><i class="bi bi-exclamation-triangle"></i> Wrong denomination! Machine can't accept it.</div>
        </div>
        </div>
        <button type="submit" class="btn btn-primary submit-button mt-3 mb-3" [disabled]="!coinForm.valid"> <i class="bi bi-plus-circle"></i> {{ coinForm.valid ? 'Insert' : 'Invalid Amount' }}</button>
    </form>
    <button (click)="returnCoins()" class="btn btn-danger submit-button mt-3 mb-3"><i class="bi bi-x-lg"></i> Return coins</button>
</div>

