.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        font-size: var(--font-size-large);
    }

    .allowed-coins{
        text-align: center;
        padding: 5px;
    }

    .error-text {
        color: red;
        text-align: center;
        padding: 5px;
    }
}