:root {
    --accentColor1: #fca311;
    --color2: #91C8E4;
    --color3: #749BC2;
    --color4: #4682A9;
    --color5: #a2d2ff;

    --background-color1: #F6F4EB;
    --background-color2: #1a1a1b;

    --font-size-title: 3em;
    --font-size-sub-title: 2.5em;
    --font-size-large: 1.5em;
    --font-size-normal: 1em;
}

.line-accent {
    border: 1px solid #fca311;
    width: 125px;
}

//snackbar custom style for an error feedback
.error-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color: #721c24;
    --mat-mdc-snack-bar-button-color: white;
    border-color: #f5c6cb;

    .mat-simple-snackbar-action {
        color: white;
    }
}

//snackbar custom style for a success feedback
.success-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color: #2a721c;
    --mat-mdc-snack-bar-button-color: white;
    border-color: #f5c6cb;

    .mat-simple-snackbar-action {
        color: white;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}