:root {
    --accentColor1: #fca311;
    --color2: #91C8E4;
    --color3: #749BC2;
    --color4: #4682A9;
    --color5: #a2d2ff;

    --background-color1: #F6F4EB;
    --background-color2: #1a1a1b;

    --font-size-title: 3em;
    --font-size-sub-title: 2em;
    --font-size-large: 1.5em;
    --font-size-normal: 1em;
}